@ /* 引用的文件路径，{}其它应用的属性对象集合*/
@layout("/common/_container_list.html",
@	{
@		js:["/modules/card/list.js"],
@		title: '',
@		entity:{
@			tag:'card',
@			name: '会员卡',
@			addBtnHide: true,
@			delBtnHide: true,
@			fastsearch: true,
@			fsPlaceholder: '请输入客户姓名',
@			fsPlaceholderField: 'search',
@			advsearch: false,
@			advsearchHtml:"/modules/card/search.html"
@		}
@	}){
<script type="text/html" id="toolbar">
	<a class="layui-btn layui-btn-radius basic-btn add_btn" title="新增"><i class="iconfont icon-xinjian">新增</i></a>
</script>
<script type="text/javascript">
var Entity = {
		tag : "card",
		name : "会员卡",
	}
var PAGE_CONSTANT = {
		roleId : '${roleId}'
}
</script>
@}
